<h4>Lines</h4>
<button {{action 'new'}}>New</button>
<ul>
  {{#each}}
    {{#if isEditing}}
      <li>
        <form {{action update on="submit"}}>
          {{input value=title}}
          <button type="submit">Update</button>
        </form>
      </li>
    {{else}}
      <li>{{title}} <button {{action "edit"}}>Edit</button></li>
    {{/if}}
  {{/each}}
</ul>