<h4>Lines</h4>
<button {{action 'new'}}>New</button>
<ul>
  {{#each}}
    <li>
    {{#if isEditing}}
        <form {{action update on="submit"}}>
          {{input value=title}}
          <button type="submit">Update</button>
        </form>
    {{else}}
      {{title}} <button {{action "edit"}}>Edit</button>
    {{/if}}
    {{model-status}}
    </li>
  {{/each}}
</ul>